<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen" title="no title" charset="utf-8">
    <title>助梦清华，我今天通过跑步，助梦了{{ task.distance }}公里</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 header">
                <p class="name">{{ user.name }}</p>
                <p class="project">多跑一步, 多爱一分</p>
            </div>
            <div class="col-md-4 body">
                <p class="gray">本次捐赠里程数</p>
                <p class="distance">{{ task.distance }}公里</p>
                <p class="gray">本人共捐赠里程数为{{ user.total_distance }}公里</p>
                <p class="gray">本项目累计收到{{ total_distance }}公里捐赠里程数</p>
                <a href="https://mp.weixin.qq.com/s?__biz=MzA5NzMwODczNg==&mid=2650167207&idx=1&sn=7cf22005bf2bd8009b3a500cc020164e&scene=1&srcid=0504jwqfKtBGrsRErODUqhIw&key=b28b03434249256be3fe2d43841d494e67913359ce4b6dddb1812c4b8b2302f26d60081ec526e1fb859d14430877dfb3&ascene=0&uin=MjEyMDY1Mzk2MA%3D%3D&devicetype=iMac+MacBookPro11%2C5+OSX+OSX+10.11.4+build(15E65)&version=11020201&pass_ticket=b2Z9tVHFdI1fNL7v0Mzh478d2skpnrWBD9q%2FqwTTwFWASCEZuC9gNZjpt8D7SzJl">
                    <button type="button" name="button" class="btn btn-default">去看看</button>
                </a>
            </div>
            <div class="col-md-4 footer">
                <p>每一公里, 都会兑换成一元"撒爱奖学金", 捐赠给SAEPA周末支教的对口学校</p>
                <div class="logos">
                    <span><img src="{{ url_for('static', filename='images/saepa.jpg') }}" alt="SAEPA" class="saepa_logo"></span>
                    <span><img src="{{ url_for('static', filename='images/labμ.jpg') }}" alt="Lab μ" class="labmu_logo"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            $('.header').css("height", $(window).height() * 0.4 + 'px');
            $('.body').css("height", $(window).height() * 0.4 + 'px');
            $('.footer').css("height", $(window).height() * 0.2 + 'px');
            $('.saepa_logo').css("width", $('.footer').width() / 3 + 'px');
            $('.gemalto_logo').css("width", $('.footer').width() / 3 + 'px');
            $('.labmu_logo').css("width", $('.footer').width() / 5 + 'px');
        })
    </script>
</body>
</html>
