<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen" title="no title" charset="utf-8">
    <title>助梦清华，我今天通过跑步，助梦了{{ task.distance }}公里</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 header">
                <p class="name">{{ user.name }}</p>
                <p class="project">你跑一公里，助梦一公里</p>
            </div>
            <div class="col-md-4 body">
                <p class="gray">本次捐赠里程数</p>
                <p class="distance">{{ task.distance }}公里</p>
                <p class="gray">本人共捐赠里程数为{{ user.total_distance }}公里</p>
                <p class="gray">本项目累计收到{{ total_distance }}公里捐赠里程数</p>
                <a href="http://mp.weixin.qq.com/s?__biz=MzA5NzMwODczNg==&mid=400614990&idx=1&sn=812fcaea60841e692a5ac97da503c3c7&srcid=1207UD1QUIJDaBLbbtN5j1gp">
                    <button type="button" name="button" class="btn btn-default">去看看</button>
                </a>
            </div>
            <div class="col-md-4 footer">
                <p>达到450公里目标后，即可在金雅拓公司资助下，圆梦六名贫困孩子的北京之行</p>
                <div class="logos">
                    <span><img src="{{ url_for('static', filename='images/saepa.png') }}" alt="SAEPA" class="logo"></span>
                    <span><img src="{{ url_for('static', filename='images/gemalto.jpg') }}" alt="Gemalto" class="logo"></span>
                    <span><img src="{{ url_for('static', filename='images/labμ.png') }}" alt="Lab μ" class="logo"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            $('.header').css("height", $(window).height() * 0.4 + 'px');
            $('.body').css("height", $(window).height() * 0.4 + 'px');
            $('.footer').css("height", $(window).height() * 0.2 + 'px');
            $('.logo').css("width", $('.footer').width() / 5 + 'px');
        })
    </script>
</body>
</html>
