<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen" title="no title" charset="utf-8">
    <title>今天我完成了{{user.total_time}}公里</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 header">
                <p class="name">{{ user.name }}</p>
                <p class="project">你跑一公里，助梦一公里</p>
            </div>
            <div class="col-md-4 body">
                <p class="gray">本次捐步</p>
                <p class="distance">{{ task.distance / 1000.0 }}公里</p>
                <p class="gray">本人累计捐步{{ user.total_distance / 1000.0 }}公里</p>
                <p class="gray">本项目累计收到{{ total_distance }}次捐步</p>
                <button type="button" name="button" class="btn btn-default">去看看</button>
            </div>
            <div class="col-md-4 footer">
                <p>你跑一公里，助梦一公里</p>
                <div>
                    <span>Lab μ</span>
                    <span>SAEPA</span>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            $('.header').css("height", $(window).height() * 0.5 + 'px');
            $('.body').css("height", $(window).height() * 0.3 + 'px');
            $('.footer').css("height", $(window).height() * 0.2 + 'px');
        })
    </script>
</body>
</html>
